<table>
    <caption><h2>Asset overview</h2></caption>
    <tr>
        <td rowspan="2"></td>
        {% for loc in Locations.query %}
        <th style="text-align: center;", scope="col", colspan="2">{{ loc.name }}</th>
        {% endfor %}
        <th style="text-align: center;", colspan="2">Total</th>
    </tr>
    <tr>
        {% for loc in Locations.query %}
        <td>New or In-Used</td>
        <td>Outdated</td>
        {% endfor %}
        <td>New or In-Used</td>
        <td>Outdated</td>
    </tr>
    {% for name in ItemName.query %}
    <tr>
        <th scope="row"><button type="button" onclick="window.location.href='{{ url_for('asset_per_name', asset_name=name.name) }}'">{{ name.name }}</button></th>
        {% for loc in Locations.query %}
        <td>{{ Item.query.filter(Item.name == name.name, Item.status != 'out_dated').join(itemLocation, Item.id == itemLocation.item_id).filter_by(loc_id=loc.id).count() }}</td>
        <td>{{ Item.query.filter(Item.name == name.name, Item.status == 'out_dated').join(itemLocation, Item.id == itemLocation.item_id).filter_by(loc_id=loc.id).count() }}</td>
        {% endfor %}
        <td>{{ Item.query.filter(Item.name == name.name, Item.status != 'out_dated').count() }}</td>
        <td>{{ Item.query.filter(Item.name == name.name, Item.status == 'out_dated').count() }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Total</th>
        {% for loc in Locations.query %}
        <td>{{ itemLocation.query.filter_by(loc_id=loc.id).join(Item, itemLocation.item_id == Item.id).filter(Item.status != 'out_dated').count() }}</td>
        <td>{{ itemLocation.query.filter_by(loc_id=loc.id).join(Item, itemLocation.item_id == Item.id).filter(Item.status == 'out_dated').count() }}</td>
        {% endfor %}
        <td>{{ Item.query.filter(Item.status != 'out_dated').count() }}</td>
        <td>{{ Item.query.filter(Item.status == 'out_dated').count() }}</td>
    </tr>
</table>