<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        {% if title %}
        <title>{{ title }} - Inventory</title>
        {% else %}
        <title>Inventory</title>
        {% endif %}
    </head>
    <body>
        <div>
            <b>INVENTORY:</b>
            <button type="button" onclick="window.location.href='{{ url_for('index') }}'">Home</button>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>