{% extends "base.html" %}

{% block content %}
    <table>
        <caption><h1>Inventory Manager</h1></caption>
        <tr>
            <th style="text-align: center; border: 0px;"><button type="button" onclick="window.location.href='{{ url_for('new_item') }}'">Add new items</button></th>
            <th style="text-align: center; border:0px"><button type="button" onclick="window.location.href='{{ url_for('new_location') }}'">Add new location</button></th>
            <th style="text-align: center; border:0px"><button type="button" onclick="window.location.href='{{ url_for('new_name') }}'">Add new asset name</button></th>
            <th style="text-align: center; border:0px"><button type="button" onclick="window.location.href='{{ url_for('transfer_log') }}'">Transfer history</button></th>
        </tr>
    </table>
    {% include "_asset_table.html" %}
{% endblock %}