{% extends "base.html" %}


{% block content %}

<h2>Transfer item</h2>
<form action="" method="POST">
    {{ transfer.hidden_tag() }}
    <p>
        {{ transfer.item_name.label }}
        {{ transfer.item_name }}<br>
{#        {{ transfer.item_serial.label }}
        {{ transfer.item_serial(size=16) }}<br>
        {% for  error in transfer.item_serial.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br> #}
        {{ transfer.transfer_to.label }}
        {{ transfer.transfer_to }}<br>
        {{ transfer.quantity.label }}
        {{ transfer.quantity }}<br>
        {{ transfer.note.label }}
        {{ transfer.note }}<br>
    </p>
    <p>{{ transfer.submit() }}</p>
</form>

{% if item_per_name %}
    {% for key in item_per_name %}
    <p><li><b>{{ key }}</b></li>
        <table>
            <tr>
                <th>Serial Number</th>
                <th>Status</th> 
                <th>Location</th>
            </tr>
            {% for asset in item_per_name[key] %}
            <tr>
                <td>{{ asset.serial }}</td>
                <td>{{ asset.status }}</td>
                <td>{{ asset.loc() }}</td>
            </tr>
            {% endfor %}
        </table>
    </p>
    {% endfor %}
{% endif %}

{% endblock %}